.main-content {
  padding: 0 10px 70px 11px;
}

.content-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  h2 {
    max-width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.services-list {
  width: 100%;
  padding: 15px 0 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid $border-color;
  border-radius: 5px;

  li {
    width: 140px;
    margin: 0 15px 15px 0;
    text-align: center;

    &:hover {
      .img-wrap {
        background: $hover-color;
      }

      h3 {
        color: $tertiary-brand;
        transition: .3s;
      }
    }


    h3 {
      display: inline-block;
      max-width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.img-wrap {
  width: 100%;
  height: 140px;
  margin-bottom: 20px;
  border: 1px solid $border-color;
  display: flex;
  justify-content: center;
  align-items: center;
}