.main-nav {
  width: 100%;
}
.menu-list {
  width: 100%;
  li {
    position: relative;
    width: 100%;
    padding: 19px 0 19px 50px;
    border-bottom: 1px solid $border-color;

    &:before {
      @include pseudo('', block);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
    }
  }
}
.feed-item:before {
  @include small-bg("../img/feed-icon.png");
}
.ask-item:before {
  @include small-bg("../img/ask-icon.png");
}
.companies-item:before {
  @include small-bg("../img/companies-icon.png");
}
.directory-item:before {
  @include small-bg("../img/services-icon.png");
}